.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.popup-content {
  font-family: Arial, sans-serif;
}

.nav-bar {
  display: flex;
  margin-top: 10px;
}

.nav-bar button {
  margin-right: 10px;
  padding: 5px 10px;
  cursor: pointer;
}

.section-content {
  margin-top: 15px;
  padding: 10px;
  border-top: 1px solid #ccc;
}

.side-panel {
  position: fixed;
  top: 10%;
  left: 0;
  width: 20%;
  height: 80%;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  overflow-y: auto;
  z-index: 1000;
}

.side-panel button {
  margin-top: 10px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
