/* src/Map.css */
#map {
    height: 100vh;
    width: 100%;
  }
  .custom-marker {
    display: flex;
    align-items: center;
  
  }
  
  .marker-text {
    display: flex;
    align-items: center;
    background: white;
    padding: 5px;
    border-radius: 8px;
    font-size: 14px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }


/* Custom styling for the marker's popup */
.popup-content {
  font-family: Arial, sans-serif;
  padding: 15px;
  max-width: 300px;
  background-color: rgb(209, 209, 209);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(223, 222, 222, 0.1);
}

.popup-content h3 {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.popup-content p {
  font-size: 14px;
  color: #555;
}

.popup-content img {
  width: 100%;
  max-width: 200px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.popup-link {
  color: blue;
  text-decoration: underline;
  font-size: 14px;
  display: inline-block;
  margin-top: 10px;
}

.popup-link:hover {
  text-decoration: none;
}
.see-more-button {
  padding: 5px 10px;
  font-size: 12px;
  border: none;
  background-color: #0077cc;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.see-more-button:hover {
  background-color: #005fa3;
}
